[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://github.com/example42/puppet-nginx.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/example42/puppet-mysql.git
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "puppet/modules/varnish"]
	path = puppet/modules/varnish
	url = https://github.com/zylon-internet/puppet-varnish.git
